@left-bar-width: 240px;

* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
body{
	margin: 0!important;
}
.expanded-left-bar {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: @left-bar-width;
	overflow: hidden;
	transition: .2s linear;
	box-sizing: border-box;
	background: url('./assets/leftbg.png') no-repeat;
	background-size: auto 320px;
	box-shadow: rgba(0,0,0,0.1) 0 4px 12px 0;
	padding-top: 330px;
}
.expanded-left-bar-btn {
	&:hover{
		background: #ccc;
	}
	width: 100%;
	height: 50px;
	color: #41464b;
	font-size: bold;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	transition: .2s ease;
	cursor: pointer;
	padding-left: 25px;
	span{
		margin-left: 15px;
		font-family: "Microsoft YaHei";
		font-size: bold;
	}
	.el-icon-use{
		font-size: 25px;
		color: #41464b;
	}
}
.left-bar-icon{
	width: 120px;
	height: 120px;
	border-radius: 120px;
	background-color: white;
	position: absolute;
	left: 30px;
	top: 60px;
	background-image: url('./assets/headicon.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 90% 90%;
}
.unexpanded-left-bar {
	width: 0px;
}
.expanded-bar-btn {
	position: fixed;
	left: @left-bar-width;
	top: 8px;
	width: 30px;
	height: 30px;
	border-radius: 20px;
	transition: .2s linear;
	cursor: pointer;
	z-index: 500;
}
.unexpanded-bar-btn {
	left: 8px;
}
.el-icon-menu {
	transition: .6s linear;
}
.el-icon-menu-turn {
	transform: rotate(135deg);
}
.expanded-right-container {
	margin-left: @left-bar-width;
	transition: .2s linear;
	background: #f6f6f6;
}
.unexpanded-right-container {
	margin-left: 0;
}
header.rig-container{
	background: url('./assets/homebg.jpg') no-repeat right top;
	background-size: auto 320px;
	height: 320px;
}

section.show-header {
	background: #41464b;
	height: 60px;
	position: fixed;
	top: 0;
	left: @left-bar-width;
	right: 0;
	transition: .2s linear;
	display: flex;
	justify-content: center;
	align-items: center;
}
section.show-header span {
	font-size: 23px;
	font-weight: bold;
	color: white;
}
section.unexpand-show-header {
	left: 0;
	transition: .2s linear;
}
.add-md{
	color: red;
}